FORm.niceform
{
    width: 550px;
    text-align: left;
    margin: 20px auto;
}

FORm.niceform label
{
    width: 90px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    padding-top: 2px;
    vertical-align: top;
    font-weight: bold;
    font-size: 12px;
}

FORm.niceform input.text, FORm.niceform TEXTAREA, FORM.NiceForm DIV.radiobox UL LI
{
    font-size: 11px;
    font-family: Arial, Verdana;
    color: #333;
}

FORm.niceform input.text, FORm.niceform TEXTAREA, FORM.NiceForm DIV.radiobox UL
{ 
    width: 400px;
    background-color: #fafafa;
    border: 1px solid #888;
    padding: 3px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
} 

FORm.niceform TEXTAREA
{
    height: 100px;
    padding: 8px;
}

FORm.niceform input.text:focus, FORm.niceform TEXTAREA:focus
{
    background-color: #ffa;
    border: 1px solid #fa0;
}

FORM.NiceForm DIV.radiobox UL
{
    display: inline-block;
    width: auto;
    padding: 8px;
    margin: 0;
}

FORM.NiceForm DIV.radiobox UL LI
{
    margin: 0;
    padding:0;
    list-style-type:none; 
}

FORM.NiceForm .submit
{
    margin-top: 20px;
    text-align: center;
    min-width: 100px;
	font-size: 18px;
	font-weight: bold;
}

DIV.FormInner
{
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 16px;
    color: #333;
	margin: 10px;
}

DIV.FormInner P
{
	margin: 8px 32px;
	font-size: 12px;
}

DIV.FormInner .error
{
    text-align: center;
	color: red;
	font-weight: bolder;
	margin: 10px;
	background-color: yellow;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	padding: 10px;
	border: 1px solid red;
}