#toybox_navbar
{
	width: 100%;
	height: 55px;
	background-color: #4096EE;
	border-bottom: 1px solid #90c6fE;
	padding: 0px;
	box-shadow: 0px 16px 16px rgba( 0, 0, 0, 0.1 );
	-moz-box-shadow: 0px 16px 16px rgba( 0, 0, 0, 0.1 );
	-webkit-box-shadow: 0px 16px 16px rgba( 0, 0, 0, 0.1 );
}

#toybox_navbar UL
{
	padding: 0;
	margin: 0;
}

#toybox_navbar LI
{
	float: left;
	width: 64px;
	height: 50px;
	overflow: hidden;
	font-size: 11px;
	text-align: center;
	margin-top: 5px;
	margin-left: 4px;
}

#toybox_navbar LI A
{
	color: #333;
	font-weight: bolder;
	text-decoration: none;
}

#toybox_navbar LI A:hover
{
	color: white;
}

#toybox_navbar LI IMG
{
	width: 32px;
	height: 32px;
	margin-bottom: 2px;
}

#toybox_navbar span.active  {
	color: #fff !important;
}

.script_box
{
	width: 128px;
	margin-left: 2px;
	margin-right: 2px;
	position: relative;
	height: 125px;
	vertical-align: top;
	float: left;
}

.script_box .image_overlay
{
	position: absolute;
	left: 0;
	top: 0;
}


.script_box .title
{
	font-size: 11px;
	font-weight: bolder;
	letter-spacing: -0.1px;
	white-space: nowrap;
	overflow: hidden;
	text-shadow: 1px 1px 1px #000;
	position: relative;
	left: -10px;
	width: 148px;
}

.script_box .title A
{
	color: white;
	text-decoration: none;
}

.script_box .image_overlay .hover_overlay
{
	position: absolute;
	left: 0px;
	top: 68px;
	background-color: rgba( 10, 10, 10, 0.90 );
	width: 128px;
	height: 31px;
	-moz-border-radius: 0px 0px 6px 6px; 
	-webkit-border-radius: 0px 0px 6px 6px;
	border-top: 0;
	 display: none;
}

.script_box .image_overlay .hover_overlay .ratings, .script_box .image_overlay .hover_overlay .favourite, .script_box .image_overlay .hover_overlay .comments
{
	width: 50px;
	font-size: 8px;
	padding: 1px 2px;
	float: right;
	color: #888;
	line-height: 13px;
}

.script_box .image_overlay .hover_overlay .favourite, .script_box .image_overlay .hover_overlay .comments
{
	width: 25px;
	float: left;
}

.script_box .image_overlay .hover_overlay .comments
{
	width: 35px;
	text-align: center;
}

.script_box .image_overlay .hover_overlay .ratings .rating, .script_box .image_overlay .hover_overlay .ratings .ratinged
{
	float: left;
	width: 25px;
}

.script_box .image_overlay .hover_overlay  IMG
{
	opacity: 0.8;
}

.script_box .image_overlay .hover_overlay IMG:hover
{
	opacity: 1.0;
}

.script_box .deletebutton
{
	position: absolute;
	left: 116px;
	top: -6px;
	z-index: 10;
}

.files_box
{
	text-align: center;
	clear: both;   
	padding: 16px 8px ;
	padding-bottom: 0px;
	margin: 0;
}

.tier2nav
{
	width: 100%;
	height: 20px;
	background-color: #FF0084;
	padding: 0px;
	box-shadow: 0px 16px 16px rgba( 0, 0, 0, 0.3 );
	-moz-box-shadow: 0px 16px 16px rgba( 0, 0, 0, 0.3 );
	-webkit-box-shadow: 0px 16px 16px rgba( 0, 0, 0, 0.3 );
	border-bottom: 1px solid #FF80d4;
}

.tier2nav UL
{
	padding: 0;
	margin: 1px 4px;
}
.tier2nav LI
{
	float: left;
	overflow: hidden;
	font-size: 11px;
	text-align: center;
	margin: 0px;
	padding: 2px 16px 0 0;
	margin-left: 4px;
	letter-spacing: -1.0px;
	font-weight: bolder;
}

.tier2nav LI.active
{
}

.tier2nav LI.active A
{
	color: #fff !important;;
}

.tier2nav LI A
{
	color: rgba( 255, 255, 255, 0.7 );
	text-decoration: none;
}

.tier2nav LI A:hover
{
	color: white;
}

.tier2nav LI:hover A
{
	color: #fff;
}

.image_thumb
{
	background-repeat: no-repeat;
	background-position: center;
}

.selected .image_overlay
{
	-moz-box-shadow: 0px 0px 0px 2px rgba( 255, 255, 0, 1.0 );
	-webkit-box-shadow: 0px 0px 0px 2px rgba( 255, 255, 0, 1.0 );
	-moz-border-radius: 6px 6px; 
	-webkit-border-radius: 6px 6px;
}

.downloading .image_overlay
{
	background-color: rgba( 255, 255, 255, 0.9 );
	background-image: url( '/client/downloading.gif' );
	background-repeat: no-repeat;
	background-position: center;
	-moz-border-radius: 6px 6px; 
	-webkit-border-radius: 6px 6px;
}

.column
{
	width: 140px;
	float: left;
	font-size: 10px;
	text-align: center;
	margin-top: 10px;
	color: #aaa;
	font-weight: bolder;
	background-color: #222;
	margin-left: 10px;
	padding: 5px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
}

.column .script_box
{
	margin-left: 0;
	padding-left: 0;
}

#searcharea
{
	float: right;
	padding: 16px;
}

#searchbox
{
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border: 1px solid black;
	border-right-width: 0px;
	padding: 5px;
}

#searchbtn
{
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border: 1px solid black;
	border-left-width: 0px;
	padding: 5px;
	position: relative;
	left:-5px;
	background-color: #90C6FE;
}

.explorer
{
	margin-left: 10px;
	vertical-align: top;
	float: left;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	background-color: #fff;
	padding: 5px 10px;
	font-size: 12px;
	text-align: left;
	clear: both;
	position: absolute;
	top: 90px;
}

.explorer A
{
	text-decoration: none;
	position: relative;
	top: -2px;
	font-weight: bold;
}

.explorer A IMG
{
	position: relative;
	top: 3px;
}