.viewcloudscript
{
    width: 100%;
    background-color: #fff;
	
	background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0, rgb(200,200,200)),
    color-stop(0.5, rgb(255,255,255)),
    color-stop(1, rgb(200,200,200))
);
    height: 90px;

}

.viewcloudscript .inner
{
    width: 500px;
    margin: 0 auto;
    position: relative;
    text-align: left;
    height: 70px;
}

.viewcloudscript .inner .thumb
{
    position: absolute;
    top: 10px;
    left: 10px;
}

.viewcloudscript .inner .title
{
	clear: both;
    font-weight: bolder;
    font-size: 30px;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
	text-align: center;
	padding-top: 10px;
}

.viewcloudscript .inner .description
{
    position: absolute;
    top: 65px;
    left: 148px;
    height: 74px;
    font-size: 11px;
    color: #888;
    padding: 0;
    overflow: hidden;
}

.viewcloudscript .inner .username
{
	clear: both;
    font-size: 11px;
    color: #888;
    padding: 0;
	text-align: center;
}

DIV.luacode
{
    text-align: left;
    margin: 10px;
    padding: 10px;
    font-size: 11px;
    background-color: #111;
    color: #888;
    font-family: Courier New, monospace;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: auto;
}


.CodeMirror-line-numbers 
{
	margin: .4em;
	padding: 5;
	font-family: monospace;
	font-size: 10pt;
	color: #999;
	text-align: right;
	width: 50px;
}

DIV.tabs
{
    text-align: left;
	width: 700px;
	margin: 0 auto;
}

DIV.tabs UL
{
    margin: 0;
    padding: 0
}

DIV.tabs LI
{
    display: inline-block;
    list-style-type:none; 
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    padding-right: 5px;
    font-size: 11px;
    opacity: 0.8;
	background-color: #36393D;  
    margin-right: 1px;
    letter-spacing: -0.7px;
}

DIV.tabs LI IMG
{
    float: left;
    margin-right: 6px;
}

DIV.tabs LI.active
{
    opacity: 1.0 !important;
}

DIV.tabs LI A
{
    color: #aaa;
    text-decoration: none;
    display: block;
    padding: 3px 5px;
}

DIV.tabs LI.active A
{
	color: #eee;
}

DIV.tabs LI:hover
{
    opacity: 0.7;
}

DIV.tabinner
{
    background-color: #fff;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    padding: 16px;
    color: #333;
}

DIV.scriptdetail
{
	width: 600px;
	padding: 20px;
	margin: 0 auto;
}

DIV.scriptdetail .description
{
	padding: 20px;
	background-color: #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	color: #444;
	clear: both;
	font-size: 12px;
	min-height: 200px;
}

DIV.scriptdetail .images
{
	padding: 5px;
	text-align: center;
	float: left;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	background-color: #eee;
	margin-bottom: 10px;
}

DIV.scriptdetail .meta
{
	margin-left: 148px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	background-color: #eee;
	margin-bottom: 10px;
	height: 118px;
	padding: 10px;
	color: #444;
	font-size: 12px;
}

DIV.scriptdetail .meta .entry
{
	height: 25px;
}
DIV.scriptdetail .meta .title
{
	width: 100px;
	font-weight: bolder;
	float: left;
	white-space: nowrap;
}
