BODY
{
    padding: 0px;
    margin: 0px 0px;
    font-family: Helvetica;
    background-color: #36393D;  
    color: #eee;
    padding-bottom: 50px;
	background-repeat: no-repeat;
}

IMG
{
    border: 0;
}

H2
{
	letter-spacing: -2px;
    text-align: left;
	margin-left: 10px;
}

A
{
    color: #0af;
}

.clear
{
	clear: both;
}

A.close
{
    float: right;
}

A.close IMG
{
    border: 0;
}

#backbutton
{
    width: 40px;
    height: 50px;
    position: fixed;
    top: 20px;
    left: 0px;
    background-color: rgba( 100, 100, 100, 0.90 );
    -moz-border-radius: 0px 16px 16px 0px;
    -webkit-border-radius: 0px 16px 16px 0px;
    padding: 16px;
    padding-left: 5px;
    z-index: 500;
}



.script_box
{
    display: inline-block;
    float: none;
}

.pages
{
    clear: both;
    font-size: 13px;
    font-weight: bolder;
    text-align: right;
    color: rgba( 255, 255, 255, 0.5 );
    margin: 10px;
}

.pages A.page
{
    text-decoration: none;   
}

.pages A.active
{
    text-decoration: underlined !important;  
    color: white;
}

