.tooltip
{
    background-color: rgba( 255, 255, 255, 1.0 );
    font-size: 11px;
    padding: 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #444;
    -moz-box-shadow: 2px 2px 16px rgba( 0, 0, 0, 0.9 );
    -webkit-box-shadow: 2px 2px 16px rgba( 0, 0, 0, 0.9 );
}

.tooltip .inner
{
    padding: 8px;
    background-color: #ddd;
    border: 1px solid #bbb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 4px;

    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}